# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media / Uploaded files
media/

# Node (if added later)
node_modules/
package-lock.json

# IDEs
.idea/
.vscode/
