{% extends 'base.html' %}
{% block title %}Sign Up - Blog Application{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Sign Up</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                </form>
            </div>
            <div class="card-footer text-center">
                Already have an account? <a href="{% url 'login' %}">Login here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}